global
    stats socket /var/run/haproxy/admin.sock mode 660 level admin
defaults
    mode tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s
frontend puppetmaster_front
    bind *:8142
    default_backend puppetmaster_back
backend puppetmaster_back
    balance roundrobin
    option httpchk GET /status/v1/simple
    http-check expect string running
    server puppetmaster1 10.0.1.10:8140 check check-ssl verify none
    server puppetmaster2 10.0.1.20:8140 check check-ssl verify none
    server puppetmaster3 10.0.1.30:8140 check check-ssl verify none
frontend puppetca_front
    bind *:8141
    default_backend puppetca_back
backend puppetca_back
    balance roundrobin
    option httpchk GET /status/v1/simple
    http-check expect string running
    server puppetca1 10.0.1.40:8140 check check-ssl verify none
    server puppetca2 10.1.0.50:8140 check check-ssl verify none backup
